# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode user data
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Xcode build products
build/
DerivedData/
*.ipa
*.dSYM
*.dSYM.zip
*.xcarchive

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Logs and reports
*.log
*.xcresult

# App secrets and environment files
.env
.env.*

# Playgrounds
timeline.xctimeline
playground.xcworkspace/
